*{}

.navbar{
    position: sticky;
}
li, a { 
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    font-size: 26px;
    color: #000000;
    text-decoration: none;
}
.navbar-nav{
    margin-left: 240px;
    padding: 1.9% 0%;
}
.nav-item{
    margin-left: 30px;
}
.logo{
    margin-left: 120px;
}
button{
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}
button:hover{
    background-color: #ff5100
}
button{ 
    margin-left: 2px;
    padding: 9px 25px; 
    background-color: red;
    border: none; 
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
   
}
.search-box{ /*search bar*/
    position:absolute;
    top: 50%;
    left: 65%;
    margin-left: 150px;
    transform: translate(-50%,-50%);
    background: #ffffff;
    height: 40px; 
    border-radius: 50px;
    padding: 10px; 
    box-shadow: inset 4px 4px 2px rgba(126, 123, 123, 0.8) ;
}
.search-box:hover > .search-txt{
    width: 120px;
    padding: 0 6px;
}
.search-btn{
    color:#FF0000;
    float: right;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s; 
    line-height: 20px;
    width: 0px;
}
.Account_Login{
    position: inherit;
    margin-left: 200px;
}
.smith{
    width: 400px;
}
.top{
    width: 1600px ;
    max-width: 200%;
    margin-left: -200px;
    margin-bottom: 140px;
    color:#FF0000;
    border-top: solid red 2px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin-left: 150px;
    margin-top: -80px;
}
h2 {
    
    color: red;
    margin-left: 150px;
    font-family: 'Roboto';

}
.top2{
    margin-left: 120px;
    max-width: 600px;
    color:solid red 2px;
    border-top: solid red 2px;
}

@font-face {
    font-family:Roboto;
    src: url(C:\Users\VimceJamesV.Visto\Desktop\GitFolder\workspace\publishproduct);
}


.product{
    margin-left: 20px;
    margin-top: 50px;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.product .form-control{
    border-color: #FF0000;
    border-style:double;
    height: 30px;
}

.description
{
    margin-left: 20px;
    margin-top: 20px;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;   
}

.description .form-control{
    border-color: red;
    border-style: double;
    height: 80px;
    width: 200px;
}

.price{
    margin-left:20px;
    margin-top:30px;
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
}

.price .form-control{
    border-color: #FF0000;
    border-style:double;
    height: 30px;
    width: 150px;
}

.image-upload{
    margin-left: 500px;
    display: grid;
    margin-top: 10px;
}

.publish-button{
    margin-top: 50px;
    margin-left: 600px;
    
}

